#sidebar {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 3rem 0;
    border-radius: var(--container-border-radius);
    background-color: var(--bg-color);
}

#sidebar img {
    max-width: 70%;
    position: absolute;
    top: -3rem;
    border-radius: var(--container-border-radius);
}

#sidebar .title {
    margin-top: 12rem;
    padding: .8rem 1.2rem;
    border-radius: var(--card-border-radius);
    color: var(--text-color-secondary);
    background-color: var(--bg-color-secondary);
}